.inputTab {
  display: flex;
  width: 552px;
  margin-top: 76px;
  padding: 3px;
  border: 1px solid #7f7f7f;
  border-radius: 40px;
  overflow: hidden;
}

.input {
  width: 512px;
  border: none;
  padding-left: 21px;
  font-size: 17px;
}

.image {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .inputTab {
    width: 90%;
    margin: 54px 5% 0 5%;
  }
  .input {
    padding-left: 17px;
  }
}
